<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem name="Employee Activities" id="all_employee_requests" web_icon="request_approval_menu,static/img/employee_activity.png"
              groups="hr.group_user_custom"
    />
    <record id="hr_recruitment_request.menu_recruitment_requests" model="ir.ui.menu">
        <field name="parent_id" ref="all_employee_requests"/>
    </record>
    <record id="hr_request_position.menu_employee_request" model="ir.ui.menu">
        <field name="parent_id" ref="all_employee_requests"/>
    </record>
     
    <record id="hr_recruitment_request.internal_recruitment_menu_root" model="ir.ui.menu">
     <!-- Jobs menu including 1. Internal job posts 2. job application personal -->
        <field name="parent_id" ref="request_approval_menu.all_employee_requests"/>
    </record>
     <record id="hr_recruitment_request.menu_internal_recruitment_job_posts" model="ir.ui.menu">
         <field name="parent_id" ref="hr_recruitment_request.internal_recruitment_menu_root"/>
    </record>
    <record id="hr_recruitment_request.internal_recruitment_menu_applications_personal" model="ir.ui.menu">
        <field name="parent_id" ref="hr_recruitment_request.internal_recruitment_menu_root"/>
    </record>
</odoo>