<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem name="Employee Requests" id="all_employee_requests" web_icon="request_approval_menu,static/img/emreq.png"
              groups="hr.group_user_custom"
    />
    <record id="hr_expense.menu_hr_expense_my_expenses" model="ir.ui.menu">
        <field name="parent_id" ref="request_approval_menu.all_employee_requests"/>
    </record>
<!--    <record id="hr__ethiopian__ot.menu_ot_request" model="ir.ui.menu">-->
<!--        <field name="parent_id" ref="request_approval_menu.all_employee_requests"/>-->
<!--    </record>-->
<!--    <menuitem name="Employee Requests" id="all_employee_req" action="hr_disciplinary_tracking.employee_complaint"-->
<!--    parent="all_employee_requests"/>-->
    <record id="hr_recruitment_request.menu_recruitment_requests" model="ir.ui.menu">
        <field name="parent_id" ref="request_approval_menu.all_employee_requests"/>
    </record>
    <record id="hr_request_position.menu_employee_request" model="ir.ui.menu">
        <field name="parent_id" ref="request_approval_menu.all_employee_requests"/>
    </record>
    <record id="stock_transfer.menu_transfer_request_root" model="ir.ui.menu">
        <field name="parent_id" ref="request_approval_menu.all_employee_requests"/>
    </record>
    <record id="ohrms_loan.menu_hr_loans_and_advances" model="ir.ui.menu">
        <field name="parent_id" ref="request_approval_menu.all_employee_requests"/>
    </record>
    <!-- <record id="employee_orientation.menu_orientation_request" model="ir.ui.menu">
        <field name="active">False</field>
    </record> -->
    <!-- <record id="hr_request_position.menu_ot_request_to_approve" model="ir.ui.menu">
        <field name="active">False</field>
    </record> -->
   
    <record id="hr_recruitment_request.internal_recruitment_menu_root" model="ir.ui.menu">
     <!-- Jobs menu including 1. Internal job posts 2. job application personal -->
        <field name="parent_id" ref="request_approval_menu.all_employee_requests"/>
    </record>
     <record id="hr_recruitment_request.menu_internal_recruitment_job_posts" model="ir.ui.menu">
         <field name="parent_id" ref="hr_recruitment_request.internal_recruitment_menu_root"/>
    </record>
    <record id="hr_recruitment_request.internal_recruitment_menu_applications_personal" model="ir.ui.menu">
        <field name="parent_id" ref="hr_recruitment_request.internal_recruitment_menu_root"/>
    </record>

</odoo>